li {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

li p {
    color: #000000;
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: auto 0;
    min-width: 50%;
}

